<section id="Menu" class="menu-section py-4  text-white ">
  <div class="container ">

    <div class="text-center mb-4">
      <h2 class="fw-bold mb-2 py-3 position-relative d-inline-block section-title">Menu</h2>
      <p class="text-white py-1">Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur
        velit
      </p>
    </div>

    <div class="d-flex flex-wrap justify-content-center gap-2 mb-5 py-3">
      <button class="btn btn-sm menu-section-btn text-white rounded-pill">All</button>
      <button class="btn btn-sm bg-dark text-white rounded-pill menu-buttons">Starters</button>
      <button class="btn btn-sm bg-dark text-white rounded-pill menu-buttons">Main Courses</button>
      <button class="btn btn-sm bg-dark text-white rounded-pill menu-buttons">Desserts</button>
      <button class="btn btn-sm bg-dark text-white rounded-pill menu-buttons">Drinks</button>
    </div>

    <div class="row g-4">
      <div class=" col-md-6">
        <div class="d-flex bg-secondary bg-opacity-10 rounded-3 p-3 shadow align-items-center">
          <img src="assets/img/restaurant/starter-2.webp" class="rounded-3 me-3" style="width: 80px; height: 80px;"
            alt="food">
          <div class="flex-grow-1">
            <h6 class="mb-1 fw-bold text-white">
              Bruschetta Trio <span class="badge  ms-2 su-bg">Vegetarian</span>
            </h6>
            <p class="small text-white mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit
              curabitur sed.</p>
            <p class="fw-bold text-menu mb-0">$8.95</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="d-flex bg-secondary bg-opacity-10 rounded-3 p-3 shadow align-items-center">
          <img src="assets/img/restaurant/starter-5.webp" class="rounded-3 me-3" style="width: 80px; height: 80px;"
            alt="food">
          <div class="flex-grow-1">
            <h6 class="mb-1 fw-bold text-white">
              Calamari Fritti <span class="badge su-bg ms-2">Seafood</span>
            </h6>
            <p class="small text-white mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit
              curabitur sed.</p>
            <p class="fw-bold text-menu mb-0">$10.95</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex bg-secondary bg-opacity-10 rounded-3 p-3 shadow align-items-center">
          <img src="assets/img/restaurant/main-1.webp" class="rounded-3 me-3" style="width: 80px; height: 80px;" alt="food">
          <div class="flex-grow-1">
            <h6 class="mb-1 fw-bold text-white">
              Calamari Fritti <span class="badge su-bg ms-2">Seafood</span>
            </h6>
            <p class="small text-white mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit
              curabitur sed.</p>
            <p class="fw-bold text-menu mb-0">$10.95</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex bg-secondary bg-opacity-10 rounded-3 p-3 shadow align-items-center">
          <img src="assets/img/restaurant/main-4.webp" class="rounded-3 me-3" style="width: 80px; height: 80px;" alt="food">
          <div class="flex-grow-1">
            <h6 class="mb-1 fw-bold text-white">
              Calamari Fritti <span class="badge su-bg ms-2">Seafood</span>
            </h6>
            <p class="small text-white mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit
              curabitur sed.</p>
            <p class="fw-bold text-menu mb-0">$10.95</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex bg-secondary bg-opacity-10 rounded-3 p-3 shadow align-items-center">
          <img src="assets/img/restaurant/dessert-2.webp" class="rounded-3 me-3" style="width: 80px; height: 80px;"
            alt="food">
          <div class="flex-grow-1">
            <h6 class="mb-1 fw-bold text-white">
              Calamari Fritti <span class="badge su-bg ms-2">Seafood</span>
            </h6>
            <p class="small text-white mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit
              curabitur sed.</p>
            <p class="fw-bold text-menu mb-0">$10.95</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex bg-secondary bg-opacity-10 rounded-3 p-3 shadow align-items-center ">
          <img src="assets/img/restaurant/dessert-7.webp" class="rounded-3 me-3" style="width: 80px; height: 80px;"
            alt="food">
          <div class="flex-grow-1">
            <h6 class="mb-1 fw-bold text-white">
              Calamari Fritti <span class="badge su-bg ms-2">Seafood</span>
            </h6>
            <p class="small text-white mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit
              curabitur sed.</p>
            <p class="fw-bold text-menu mb-0">$10.95</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex bg-secondary bg-opacity-10 rounded-3 p-3 shadow align-items-center">
          <img src="assets/img/restaurant/drink-3.webp" class="rounded-3 me-3" style="width: 80px; height: 80px;" alt="food">
          <div class="flex-grow-1">
            <h6 class="mb-1 fw-bold text-white">
              Calamari Fritti <span class="badge su-bg ms-2">Seafood</span>
            </h6>
            <p class="small text-white mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit
              curabitur sed.</p>
            <p class="fw-bold text-menu mb-0">$10.95</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex bg-secondary bg-opacity-10 rounded-3 p-3 shadow align-items-center">
          <img src="assets/img/restaurant/drink-8.webp" class="rounded-3 me-3" style="width: 80px; height: 80px;" alt="food">
          <div class="flex-grow-1">
            <h6 class="mb-1 fw-bold text-white">
              Calamari Fritti <span class="badge su-bg ms-2">Seafood</span>
            </h6>
            <p class="small text-white mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit
              curabitur sed.</p>
            <p class="fw-bold text-menu mb-0">$10.95</p>
          </div>
        </div>
      </div>


    </div>

    <div class="text-center mt-5">
      <a href="#" class="download-button text-white px-4 text-decoration-none rounded-pill">
        <i class="fas fa-download me-2"></i>Download Full Menu
      </a>
    </div>

  </div>
</section>

<section class="py-5 px-5">
  <h3 class="text-white py-2 px-4 mb-3 rounded-pill bg-custome-chef"><i class="fa-solid fa-award me-2 "></i>Chef's
    Specials</h3>
  <div class="row row-cols-1 row-cols-md-2 g-4 ">
    <div class="col">
      <div class="card bg-dark">
        <div class="position-relative">
          <img src="assets/img/restaurant/main-7.webp" class="card-img-top" alt="...">
          <div class=" position-absolute top-0 start-0 m-2 d-flex gap-2">
            <span class="badge bg-warning text-white">Special</span>
            <span class="badge bg-success text-white ">Vegan</span>
          </div>
        </div>
        <div class="card-body bg-dark bg-back">
          <h5 class="card-title fw-bold text-white">Signature Ribeye Steak</h5>
          <p class="card-text text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
            accumsan risus ut dui pretium, eget elementum nisi.</p>
          <h4 class="bg-custom-price">$32.99</h4>
        </div>
      </div>
    </div>
    <div class="col">

      <div class="position-relative">
        <img src="assets/img/restaurant/main-3.webp" class="card-img-top" alt="...">
        <div class=" position-absolute top-0 start-0 m-2 d-flex gap-2">
          <span class="badge bg-warning text-white ">Special</span>
          <span class="badge bg-success text-white ">Vegan</span>
        </div>
      </div>
      <div class="card bg-dark">
        <div class="card-body bg-dark bg-back">
          <h5 class="card-title fw-bold text-white">Signature Ribeye Steak</h5>
          <p class="card-text text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
            accumsan risus ut dui pretium, eget elementum nisi.</p>
          <h4 class="bg-custom-price">$32.99</h4>
        </div>
      </div>
    </div>
   </div>
</section>


<section class="text-white">
  <div class="container py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-xl-8 text-center text-white">
        <h3 class="fw-bold mb-4  position-relative d-inline-block testimonials-title fs-1">Testimonials</h3>
        <p class="mb-4 pb-2 mb-md-5 pb-md-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet
          uasi, veritatis totam .

        </p>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card bg-dark text-white">
          <div class="card-body py-4 mt-3">
            <ul class="list-unstyled d-flex justify-content-center">
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="ffas fa-star fa-sm text-warning"></i>
              </li>
            </ul>
            <p class="mb-2">
              <i class="fas fa-quote-left pe-2"></i>Lorem ipsum dolor sit amet,
              consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat
              ad velit ab hic tenetur.
            </p>

            <div class="d-flex justify-content-center mb-4">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
                class="rounded-circle shadow-1-strong" width="100" height="100" />
            </div>
            <h5 class="font-weight-bold">Teresa May</h5>
            <h6 class="font-weight-bold my-3">Founder at ET Company</h6>


          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card  bg-dark text-white">
          <div class="card-body py-4 mt-2">

            <ul class="list-unstyled d-flex justify-content-center">
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
            </ul>
            <p class="mb-2">
              <i class="fas fa-quote-left pe-2"></i>Autem, totam debitis suscipit saepe
              sapiente magnam officiis quaerat necessitatibus odio assumenda perferendis
              labore laboriosam.
            </p>
            <div class="d-flex justify-content-center mb-2">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(15).webp"
                class="rounded-circle shadow-1-strong" width="100" height="100" />
            </div>
            <h5 class="font-weight-bold">Maggie McLoan</h5>
            <h6 class="font-weight-bold my-3">Photographer at Studio LA</h6>

          </div>
        </div>
      </div>
      <div class="col-md-4 mb-0">
        <div class="card  bg-dark text-white">
          <div class="card-body py-4 mt-2">
            <ul class="list-unstyled d-flex justify-content-center">
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="far fa-star fa-sm text-warning"></i>
              </li>
            </ul>
            <p class="mb-2">
              <i class="fas fa-quote-left pe-2"></i>Cras sit amet nibh libero, in gravida
              nulla metus scelerisque ante sollicitudin commodo cras purus odio,
              vestibulum in tempus viverra turpis.
            </p>


            <div class="d-flex justify-content-center mb-2">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(17).webp"
                class="rounded-circle shadow-1-strong" width="100" height="100" />
            </div>
            <h5 class="font-weight-bold">Alexa Horwitz</h5>
            <h6 class="font-weight-bold my-3">Front-end Developer in NY</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
